html{
    background-color: #D3D9E4;
}
h2{
    color: darkblue;
    text-align: center;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
h1{
    color: darkblue;
    text-align: center;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
footer{
    color: darkblue;
    text-align: center;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.pro1{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pro2{
    display: block;
    margin-right: auto;
    margin-left: auto;
}